bcrypt==4.3.0
    # via paramiko
blinker==1.9.0
    # via flask
certifi==2025.4.26
    # via
    #   requests
cffi==1.17.1
    # via
    #   cryptography
    #   pynacl
charset-normalizer==3.4.2
    # via requests
click==8.2.0
    # via
    #   flask
cryptography==44.0.3
    # via
    #   oracledb
    #   paramiko
decorator==5.2.1
    # via retry
docutils==0.21.2
    # via robotframework-datadriver
et-xmlfile==2.0.0
    # via openpyxl
flask==3.1.1
    # via robotframework-hub
h11==0.16.0
    # via wsproto
idna==3.10
    # via
    #   requests
itsdangerous==2.2.0
    # via flask
jinja2==3.1.6
    # via flask
markupsafe==3.0.2
    # via
    #   flask
    #   jinja2
    #   werkzeug
natsort==8.4.0
    # via robotframework-pabot
openpyxl==3.1.2
    # via
    #   -r requirements.in
    #   robotframework-excellib
oracledb==2.2.0
    # via -r requirements.in
paramiko==3.5.1
    # via
    #   robotframework-sshlibrary
    #   scp
py==1.11.0
    # via retry
pycparser==2.22
    # via cffi
pycryptodome==3.14.1
    # via -r requirements.in
pycryptodomex==3.14.1
    # via -r requirements.in
pygments==2.19.1
    # via robotframework-datadriver
pynacl==1.5.0
    # via paramiko
pysocks==1.7.1
    # via urllib3
requests==2.32.3
    # via robotframework-requests
robotframework==7.0
    # via
    #   -r requirements.in
    #   robotframework-databaselibrary
    #   robotframework-datadriver
    #   robotframework-excellib
    #   robotframework-hub
    #   robotframework-lint
    #   robotframework-pabot
    #   robotframework-requests
    #   robotframework-sshlibrary
    #   robotframework-stacktrace
robotframework-kubelibrary==0.8.8
    # new
robotframework-databaselibrary==1.4.4
    # via -r requirements.in
robotframework-datadriver==1.7.0
    # via -r requirements.in
robotframework-excellib==2.0.1
    # via
    #   -r requirements.in
    #   robotframework-databaselibrary
robotframework-ftplibrary==1.9
    # via -r requirements.in
robotframework-hub==1.0.1
    # via -r requirements.in
robotframework-lint==1.1
    # via -r requirements.in
robotframework-pabot==2.18.0
    # via -r requirements.in
robotframework-requests==0.9.4
    # via -r requirements.in
robotframework-sshlibrary==3.8.0
    # via -r requirements.in
robotframework-stacktrace==0.4.1
    # via robotframework-pabot
scp==0.15.0
    # via robotframework-sshlibrary
tornado==6.5
    # via robotframework-hub
urllib3[socks]==1.26.20
    # via
    #   requests
watchdog==6.0.0
    # via robotframework-hub
werkzeug==3.1.3
    # via flask
xlrd==2.0.1
    # via xlutils
xlutils==2.0.0
    # via -r requirements.in
xlwt==1.3.0
    # via xlutils